.container-chat {
  background-color: #000;
  height: -webkit-fill-available;
}

.conversation {
  position: relative;
  width: 100%;
  height: 100%;
}

.chat {
  position: fixed;
  bottom: 0;
  width: 100%;
}
